In [3]:
import nasdaqdatalink

In [16]:
#https://data.nasdaq.com/data/RATEINF-inflation-rates
rate_of_inflation = nasdaqdatalink.get('RATEINF/INFLATION_USA', start_date='2021-01-01', end_date='2022-08-10')

In [11]:
#https://data.nasdaq.com/data/OPEC-organization-of-the-petroleum-exporting-countries
#daily grain
opec_oil_prices = nasdaqdatalink.get('OPEC/ORB', start_date='2021-01-01', end_date='2022-08-10')

In [13]:
#https://data.nasdaq.com/data/UMICH-consumer-sentiment
consumer_sentiment_index =nasdaqdatalink.get('UMICH/SOC1', start_date='2021-01-01', end_date='2022-08-10')

In [25]:
#https://data.nasdaq.com/data/ML-corporate-bond-yield-rates
# this series is on daily grain
emerging_markets_high_yield_corporate_bond_index = nasdaqdatalink.get('ML/EMHYY', start_date='2021-01-01', end_date='2022-08-10')

In [15]:
#https://data.nasdaq.com/data/USTREASURY-us-treasury
#daily grain
treasury_long_term_yield_curve_rates = nasdaqdatalink.get('USTREASURY/REALYIELD', start_date='2021-01-01', end_date='2022-08-10')

In [4]:
#https://data.nasdaq.com/data/ML-corporate-bond-yield-rates
# Also on daily grain. 
us_aaa_bond_yield_index = nasdaqdatalink.get('ML/AAAEY', start_date='2021-01-01', end_date='2022-08-10')

In [6]:
#https://data.nasdaq.com/data/LBMA-london-bullion-market-association
#Also on daily grain
gold_price_london = nasdaqdatalink.get('LBMA/GOLD', start_date='2021-01-01', end_date='2022-08-10')
silver_price_london = nasdaqdatalink.get('LBMA/SILVER', start_date='2021-01-01', end_date='2022-08-10')

In [17]:
#https://data.nasdaq.com/data/FED-us-federal-reserve-data-releases?keyword=rate&page=7
#daily grain
aa_financial_commercial_paper_interest_rate = nasdaqdatalink.get('FED/RIFSPPFAAD01_N_B', start_date='2021-01-01', end_date='2022-08-10')

In [19]:
#https://data.nasdaq.com/data/MULTPL-sp-500-ratios?page=4
#monthly grain
sandp500_earnings = nasdaqdatalink.get('MULTPL/SP500_EARNINGS_MONTH', start_date='2021-01-01', end_date='2022-08-10')

In [21]:
nominal_broad_dollar_index = nasdaqdatalink.get('FED/JRXWTFB_N_B', start_date='2021-01-01', end_date='2022-08-10')

In [23]:
spotexchangerate_euroarea = nasdaqdatalink.get('FED/RXI_US_N_B_EU', start_date='2021-01-01', end_date='2022-08-10')

In [26]:
bse_sensex = nasdaqdatalink.get('BSE/SENSEX', start_date='2021-01-01', end_date='2022-08-10')

In [27]:
bse_sensex

                Open      High       Low     Close
Date
2021-01-01  47785.28  47980.36  47771.15  47868.98
2021-01-04  48109.17  48220.47  47594.47  48176.80
2021-01-05  48037.63  48486.24  47903.38  48437.78
2021-01-06  48616.66  48616.66  47864.14  48174.06
2021-01-07  48524.36  48558.34  48037.87  48093.32
...              ...       ...       ...       ...
2022-08-03  58174.11  58415.63  57788.78  58350.53
2022-08-04  58571.28  58712.66  57577.05  58298.80
2022-08-05  58421.04  58649.19  58244.86  58387.93
2022-08-08  58417.71  58934.90  58266.65  58853.07
2022-08-10  58977.34  58984.32  58583.36  58817.29

[399 rows x 4 columns]