In [1]:
import nasdaqdatalink

In [16]:
rate_of_inflation = nasdaqdatalink.get('RATEINF/INFLATION_USA', start_date='2021-01-01', end_date='2022-08-10')

In [19]:
opec_oil_prices = nasdaqdatalink.get('OPEC/ORB', start_date='2021-01-01', end_date='2022-08-10')

             Value
Date
2021-01-04   51.35
2021-01-05   50.75
2021-01-06   53.29
2021-01-07   53.84
2021-01-08   54.39
...            ...
2022-08-04  101.19
2022-08-05  100.01
2022-08-08  100.78
2022-08-09  100.92
2022-08-10  101.29

[416 rows x 1 columns]